{% extends "base.html" %}

{% block content %}
{% if request.user.is_organizer %}
<a href="{% url 'lead_create' %}">Create New Lead</a>
{% endif %}
<hr>
<h1>List of leads</h1>
<a href="{% url 'category-list' %}">Categories</a>

<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Age</th>
        <th scope="col">Agent</th>
      </tr>
    </thead>
    
    <tbody>
      {% for lead in leads %}
      <tr>
        <th scope="row">{{lead.id}}</th>
        <td><a href="{% url 'lead_detail' lead.id %}">{{lead.first_name}}</a></td>
        <td>{{lead.last_name}}</td>
        <td>{{lead.age}}</td>
        <td>{{lead.agent}}</td>
      </tr>
      {% endfor %}
      
    </tbody>
    
  </table>
    
    
    {% if unassigned_leads.exists %}
    <hr>
    <h1>unassigned leads</h1>
      {% for lead in unassigned_leads %}
      <table>
        <tbody>
          <tr>
            <td>{{lead.first_name}}</td>
            <td><a href="{% url 'assign_agent' lead.id %}">Assign An Agent</a></td>
          </tr>
        </tbody>
      </table>
        
        
      {% endfor %}
    {% endif %}
  

{% endblock content %}