{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="px-4 pt-5 my-5 text-center ">
    <h1 class="display-4 fw-bold text-body-emphasis">Django CRM</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">Fully functioning CRM tool.</p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">
        <a href="{% url 'login' %}"><button type="button" class="btn btn-primary btn-lg px-4 me-sm-3">Login</button></a>
        <a href="https://github.com/brandonrabico/django_crm"><button class="btn btn-outline-secondary  btn-lg ">Github</button></a>
        
      </div>
    </div>
    <div class="overflow-hidden" style="max-height: 30vh;">
      <div class="container px-5">
        <img src="{% static 'images/heroimg.PNG' %}" class="img-fluid border rounded-3 shadow-lg mb-4" alt="Example image" width="700" height="500" loading="lazy">
      </div>
    </div>
  </div>
{% endblock content %}