<ul class="nav justify-content-center">
    <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="{% url 'landing_page' %}">Home</a>
      </li>
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="{% url 'leads' %}">Leads</a>
    </li>
    {% if request.user.is_organizer %}
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="{% url 'agents' %}">Agents</a>
    </li>
    {% endif %}
    {% if request.user.is_authenticated %}
    <li class="nav-item">
       <a class="nav-link active" aria-current="page" href="{% url 'logout' %}">Logout</a>
    </li>
   
    {% else %}
    <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="{% url 'login' %}">Login</a>
    </li>
    {% endif %}
  </ul>